autopep8==2.0.0
blinker==1.5
click==7.1.2
colorama==0.4.6
Flask==1.1.4
Flask-Mail==0.9.1
Flask-MySQL==1.5.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysql-connector==2.2.9
pycodestyle==2.10.0
PyMySQL==1.0.2
tomli==2.0.1
Werkzeug==2.2.2
